html {
  zoom: 75%;
}
body {
  padding: 0px;
  margin: 0px;
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.initial-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.leftSVG {
  height: 145px;
  width: 130px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: relative;
  left: 25px;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    rgba(0, 255, 139, 0.8) 0%,
    rgba(0, 255, 139, 0) 70%
  );
}
.rightSVG {
  height: 145px;
  width: 130px;
  margin-right: 20px;
  position: relative;
  right: 25px;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    rgba(0, 255, 139, 0.8) 0%,
    rgba(0, 255, 139, 0) 70%
  );
}
.crystal-holder {
  animation: bounce 2250ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-85px);
  }
  60% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(0px);
  }
}
.leftSVG,
.rightSVG {
  transition: transform 500ms ease-in-out;
}
.crystal-holder-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  animation: revealer 1000ms;
  padding-bottom: vh;
  font-size: 50px;
  padding-bottom: 15vh;
  font-family: starWars;
  letter-spacing: 5px;
}
@keyframes revealer {
  from {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
@font-face {
  font-family: starWars;
  src: url(./fonts/Starjedi.ttf);
}

.intro-page {
  height: 100vh;
  display: grid;
  grid-template-rows: 7fr 3fr;
}
.intro {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 4fr 6fr;
}
.intro-text,
.lukeIMG-holder {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-size: larger;
}
.intro-text {
  padding-right: 50px;
}
.lukeIMG {
  border: 1px solid green; /* Base border */
  box-shadow: 0 0 100px rgba(0, 255, 0, 0.5);
}
.have-a-look {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: larger;
}
.hall-of-remembrance-page {
  height: 100vh;
  display: grid;
  grid-row: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.character-text {
  color: white;
  font-size: x-large;
  justify-self: center;
}
.imgAndText-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img[height="350px"] {
  border: 0px solid rgb(0, 102, 255); /* Base border */
  box-shadow: 0 0 100px rgba(0, 102, 255, 0.5);
}
.footer {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: rgb(255, 255, 255);
}
h3,
h2,
h1 {
  color: white;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
}
.credits {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: larger;
}
.pointer {
  animation: bounce 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
